header{
    
    display: flex;

}
#logo, #links{
flex: 1;
margin: 20px;
}
#links a{
    margin: 10px;
    text-decoration: none;

}
#home{
    background-image: url("../assets/Lighthouse.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    
    color: white;
    font-size: 36px;
    font-weight: 900;
  
}
#content{
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}